<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Reading List App</title>
        <link rel="stylesheet" href="static/css/foundation.css">
        <link rel="stylesheet" href="static/css/app.css">
    </head>
    <body>
    	<div class="row">
    	    <div class="large-12 columns">
    	        <div class="panel">
    	            <h1>Reading List App</h1>
    	            <p>This web app allows users to search for books and add them to their reading lists!</p>
    	            <a href="/search"><button class="launch-button">Launch App</button></a>
    	        </div>
    	    </div>
    	</div>
	</body>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/foundation.js"></script>
    <script> 
        $(document).foundation(); 
    </script> 
</html>